/* CSS para la página de Reservas y Operaciones */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 80px;
}

.fixed-logo {
    height: 50px;
}

.navbar-toggler {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link:hover {
    color: #ffcc00;
}

.account-icon {
    height: 40px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    top: 100%;
    margin-top: 0px;
    list-style: none;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1001;
}

.nav-item.dropdown {
    position: relative;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
    display: block;
}

.dropdown-item {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.container {
    margin: 80px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.reservations-section {
    flex-basis: 70%;
}

.operations-section {
    flex-basis: 25%;
    text-align: center;
}

.table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reservations-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservations-table th, .reservations-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.reservations-table th {
    background-color: #f0f0f0;
}

.reservation-item:hover {
    background-color: #f9f9f9;
}

.operations-buttons {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.operations-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.operations-button:hover {
    background-color: #555555;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-item {
        margin: 10px 20px;
    }

    .navbar-toggler {
        display: block;
    }

    .container {
        margin-top: 60px;
    }
}


/*
==========================================================================
Operaciones
*/

.operations-section1 {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.operations-section1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.table-wrapper {
    overflow-x: auto;
}

.operations-table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.operations-table th, .operations-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.operations-table th {
    background-color: #f2f2f2;
}

.operations-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.operations-table tbody tr:hover {
    background-color: #e9f5f5;
}

.centered-button {
    text-align: center;
    margin-top: 20px;
}

