
/*
=================================================================================
USUARIOS/CUENTAS
*/

/* CSS para la página de Cuentas de Usuarios */


.accounts-section {
    flex-basis: 100%;
    max-width: 1200px;
    margin: auto;
}

.accounts-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.table-wrapper {
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.accounts-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.accounts-table th, .accounts-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.accounts-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.accounts-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.accounts-table tbody tr:hover {
    background-color: #f1f1f1;
}

.accounts-table img {
    height: 30px;
    width: 40px;
    object-fit: contain;
}
